<!DOCTYPE html>
<html>
	<head>
        <meta utf="utf-8"/>
        <title>Breeze</title>
	    <link rel="stylesheet" href="/breeze-build.css" />
    </head>
    <body>
    	<h1>Breeze app</h1>
        <div id="breeze-app"/>
	    <script src="/breeze-build.js"/>
	</body>
</html>
